
@{
    ViewBag.Title = "Index";
}

<style>
    h2 {
        color: blue;
        font-family: verdana;
        font-size: 300%;
    }

    h1 {
        color: red;
        font-family: verdana;
        font-size: 200%;
    }
</style>

<h2>Education</h2>

<h1>School</h1>

<p>
    <ul>
        <li>@ViewBag.SchoolName</li>
        <li>@ViewBag.SchoolBoard</li>
        <li>@ViewBag.SchoolScores</li>
    </ul>
</p>

<h1>College</h1>

<p>
    <ul>
        <li>@ViewBag.CollegeName</li>
        <li>@ViewBag.CollegeBoard</li>
        <li>@ViewBag.CollegeScores</li>
    </ul>
</p>

<h1> Degree College</h1>

<p>
    <ul>
        <li>@ViewBag.DegreeCollegeName</li>
        <li>@ViewBag.DegreeDepartment</li>
        <li>@ViewBag.DegreeScores</li>
    </ul>
</p>
