
@{
    ViewBag.Title = "Index";
}

<style>
    h2 {
        color: blue;
        font-family: verdana;
        font-size: 300%;
    }

    h1 {
        color: red;
        font-family: verdana;
        font-size: 200%;
    }

    
</style>
<h2>Experience</h2>

<h1>
    Client Side :
</h1>
<ul>
    <li>@ViewBag.ClientSideOne</li>
    <li>@ViewBag.ClientsideTwo</li>
</ul>


<h1>
    Server side :
</h1>
<ul>
    <li>@ViewBag.ServerSideOne</li>
    <li>@ViewBag.ServerSideTwo</li>
</ul>

<h1>
    Backend :
</h1>
<ul>
    <li>@ViewBag.BackendOne</li>
    <li>@ViewBag.BackendTwo</li>
</ul>